/*RESET STYLESHEET*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, hr {
  margin: 0;
  padding: 0; }

a, a:hover, a:visited, a:active {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

input, label, textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0; }

input, textarea {
  outline: none;
  padding: 0.25rem;
  font-family: arial; }

input[type=button] {
  cursor: default; }
  input[type=button], input[type=button]:active, input[type=button]:hover {
    background-color: initial; }

button, select {
  padding: 0;
  margin: 0; }

input, textarea {
  display: block;
  margin-bottom: 1rem; }

label {
  margin-bottom: 0.3rem; }

sup, sub {
  line-height: 0; }

table, table td, table tr, table th {
  border-collapse: collapse;
  border-spacing: 0;
  border: none; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

input, textarea {
  font-size: inherit; }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent; }

/*END RESET*/
body {
  font-size: 100%;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 1rem;
  padding-bottom: 0;
  width: 340px; }

.center {
  margin-left: auto;
  margin-right: auto; }

.centerText {
  text-align: center; }

.hidden {
  display: none; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.clear {
  clear: both; }

.plain {
  text-decoration: none;
  color: inherit; }
  .plain:hover {
    text-decoration: none; }

div, ul, form {
  margin-bottom: 1rem; }

h1, h2, h3, h4 {
  margin-bottom: 1rem;
  line-height: 1.2em; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

p {
  margin-bottom: 2rem; }

a, a:hover {
  color: #0F81C1; }
