#trending-guide-item {
	display: none;
}
ytd-guide-section-renderer:nth-child(1) #items > ytd-guide-entry-renderer:nth-child(2) {
	display: none;
}
#appbar-nav li:nth-child(2) {
	display: none !important;
}
ytd-mini-guide-renderer #items ytd-mini-guide-entry-renderer:nth-child(2) {
	display: none !important;
}